/*  Palette de couleurs  */
/* hauteurs et margin boutons */
.delay-1 {
  animation: btn_choice 1400ms 100ms ease-in both;
}

.delay-2 {
  animation: btn_choice 1400ms 200ms ease-in both;
}

.delay-3 {
  animation: btn_choice 1400ms 300ms ease-in both;
}

.delay-4 {
  animation: btn_choice 1400ms 400ms ease-in both;
}

.delay-5 {
  animation: btn_choice 1400ms 500ms ease-in both;
}

.delay-6 {
  animation: btn_choice 1400ms 600ms ease-in both;
}

.delay-7 {
  animation: btn_choice 1400ms 700ms ease-in both;
}

.delay-8 {
  animation: btn_choice 1400ms 800ms ease-in both;
}

.delay-9 {
  animation: btn_choice 1400ms 900ms ease-in both;
}

.delay-10 {
  animation: btn_choice 1400ms 1000ms ease-in both;
}

.delay-11 {
  animation: btn_choice 1400ms 1100ms ease-in both;
}

.delay-12 {
  animation: btn_choice 1400ms 1200ms ease-in both;
}

.delay-13 {
  animation: btn_choice 1400ms 1300ms ease-in both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

section {
  padding: 40px 6% 50px 6%;
}

h1 {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

.btn-gradient {
  border-radius: 50px;
  height: 50px;
  padding-left: 7%;
  padding-right: 7%;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  position: relative;
  z-index: 1;
  border: none;
  margin-bottom: 10px;
  height: 50px;
  box-shadow: 6px 4px 10px lightgray;
}
.btn-gradient:hover {
  box-shadow: 6px 4px 10px #a0a0a0;
}
.btn-gradient:hover::after {
  opacity: 1;
}
.btn-gradient::after {
  content: "";
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #ff88de, #9b63df);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn-select-presentation {
  border: none;
  margin-bottom: 26px;
  height: 75px;
  box-shadow: 6px 4px 10px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  font-weight: 600;
  font-size: large;
  margin-left: 15px;
}
.btn-select-presentation_number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  left: -10px;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.btn-select-presentation i {
  color: gray;
  position: absolute;
  left: 60px;
}
.btn-select-presentation:hover {
  box-shadow: 6px 4px 10px #a0a0a0;
  background-color: #ebdaff;
}
.btn-select-presentation:hover i {
  color: #9356DC;
}
.btn-card {
  border: none;
  margin-bottom: 25px;
  height: 280px;
  box-shadow: 6px 4px 10px lightgray;
  border-radius: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-card {
    margin: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-card {
    margin: 10px;
    max-height: 240px;
  }
}
.btn-card_img {
  overflow: hidden;
  height: 68%;
  border-radius: 20px 20px 0 0;
  z-index: 1;
  position: relative;
}
.btn-card_img img {
  width: 100%;
  object-fit: cover;
  z-index: 2;
}
.btn-card_img_label {
  position: absolute;
  right: 4%;
  top: 15px;
  z-index: 3;
  line-height: 0;
  background-color: #99E2D0;
  padding: 0 15px;
  height: 30px;
  border-radius: 2px;
  color: #278870;
  font-weight: 600;
  box-shadow: 0px 1px 2px lightgray;
}
.btn-card_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}
.btn-card_description h3 {
  margin-bottom: 8px;
}
.btn-card_description p {
  margin-top: 0;
}
.btn_choice {
  border: none;
  margin-bottom: 14px;
  height: btn-select;
  box-shadow: 6px 4px 10px lightgray;
  background-color: white;
  height: 85px;
  border-radius: 20px;
  padding: 1% 4%;
  position: relative;
  overflow: hidden;
  display: flex;
}
.btn_choice_container {
  width: 100%;
  height: 100%;
  transform-origin: left;
}
.btn_choice_selected {
  position: absolute;
  right: -20%;
  top: 0;
  height: 100%;
  width: 18%;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_choice_selected i {
  color: white;
  font-size: x-large;
}
.btn_choice h3 {
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn_choice_txt {
  display: flex;
  justify-content: space-between;
}
.btn_choice_txt :first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn_choice_txt p {
  margin-top: 8px;
}
.btn_choice_price {
  font-weight: 800;
}
.btn_choice:hover .btn_choice_selected {
  animation: selected 330ms both;
}
.btn_choice:hover .btn_choice_selected i {
  animation: check 400ms ease-out 100ms 1 both;
}
.btn_choice:hover .btn_choice_container {
  animation: container-shrink 300ms both;
}

@keyframes loader_plate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader_logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 20;
  }
  99% {
    z-index: 20;
  }
  100% {
    z-index: -2;
    opacity: 0;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes btn_choice {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}
@keyframes selected {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}
@keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes container-shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 82%;
  }
}
.logo {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.logo img {
  width: 43%;
  max-width: 350px;
}

.form_localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  font-size: large;
  padding: 20px 0;
  box-shadow: 0px 5px 5px 0px #cfcfcf inset;
  margin-bottom: 0;
}

.search_localisation {
  width: 43%;
  display: flex;
  justify-content: space-between;
}
.search_localisation input[type=search] {
  width: 85%;
  border: none;
  background-color: unset;
  font-size: large;
  font-weight: 600;
}

footer {
  color: white;
  background-color: #353535;
  padding: 2% 6%;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
footer ul {
  padding-inline-start: 0;
  line-height: 1.6;
}
footer i {
  margin-right: 10px;
}

.loader {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  animation: loader 200ms 2800ms 1 both;
}
.loader img {
  height: 200px;
}
.loader_plate {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.loader_plate_border {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 10px solid black;
  border-radius: 50%;
  animation: loader_plate 1.2s ease-in-out infinite;
  border-color: black transparent transparent transparent;
}
.loader_plate_border:nth-child(1) {
  animation-delay: -0.45s;
}
.loader_plate_border:nth-child(2) {
  animation-delay: -0.3s;
}
.loader_plate_border:nth-child(3) {
  animation-delay: -0.15s;
}
.loader_plate_inside {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.loader_plate_inside p {
  font-family: Shrikhand, cursive;
  font-size: xx-large;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loader_logo 2500ms ease-in 200ms backwards;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.presentation * {
  max-width: 80%;
}
.presentation_title {
  font-family: "Roboto";
  font-size: xx-large;
  margin-bottom: 0;
}
.presentation p {
  font-size: large;
  color: #353535;
}

.fontionnement {
  background-color: white;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .restaurants_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurants_container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
  }
}

.heart {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
}
.heart:hover .heart_full {
  animation: heart 500ms 0s ease-in forwards;
}
.heart i {
  font-size: xx-large;
  position: absolute;
}
.heart_empty {
  z-index: 1;
}
.heart_full {
  z-index: 2;
  background: linear-gradient(#9356DC, #FF79DA);
  overflow: hidden;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  transform-origin: bottom;
  opacity: 0;
}

.header_home, .main_home, .footer_home {
  animation: loader 200ms 2800ms 1 reverse both;
}

main {
  background-color: #f6f6f6;
}

.logo i {
  font-size: xx-large;
  position: absolute;
  left: 40px;
}

.menus-cover {
  height: 420px;
  position: relative;
  margin: 0;
  padding: 0;
}
.menus-cover_img {
  overflow: hidden;
  height: 380px;
}
.menus-cover_img img {
  width: 100%;
  object-fit: cover;
}
.menus-cover_title {
  border-radius: 45px 45px 0 0;
  background-color: #f6f6f6;
  width: 100%;
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4% 4% 0 4%;
  margin-bottom: 0;
}
.menus-cover_title i {
  font-size: xx-large;
}

.menus {
  padding-top: 0px;
  padding-bottom: 15px;
}
.menus_title h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
}
.menus_title h2:first-of-type {
  padding-top: 0;
  margin-top: 10;
}
.menus_title_line {
  background-color: #99E2D0;
  width: 50px;
  height: 3px;
  margin-bottom: 20px;
}

.btn-validation {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
