/*  Palette de couleurs  */
/* hauteurs et margin boutons */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.btn-gradient {
  border-radius: 50px;
  height: 50px;
  padding-left: 6%;
  padding-right: 6%;
  background: #9356DC;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 80%);
  color: white;
  border: none;
  margin-bottom: 10px;
  height: 50px;
  box-shadow: 6px 4px 10px lightgray;
}
.btn-gradient:hover {
  box-shadow: 6px 4px 10px #a0a0a0;
  background: #965add;
  background: #ff7edb;
}
.btn-select-presentation {
  border: none;
  margin-bottom: 26px;
  height: 75px;
  box-shadow: 6px 4px 10px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  font-weight: 600;
  font-size: large;
}
.btn-select-presentation_number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  left: -10px;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.btn-select-presentation i {
  color: gray;
  position: absolute;
  left: 60px;
}
.btn-select-presentation:hover {
  box-shadow: 6px 4px 10px #a0a0a0;
  background-color: #f5edff;
}
.btn-select-presentation:hover i {
  color: #9356DC;
}
.btn-card {
  border: none;
  margin-bottom: 18px;
  height: 260px;
  box-shadow: 6px 4px 10px lightgray;
  width: 100%;
  border-radius: 20px;
}
.btn-card_img {
  width: 100%;
  overflow: hidden;
  height: 174px;
  border-radius: 20px 20px 0 0;
}
.btn-card_img img {
  width: 100%;
  object-fit: cover;
}
.btn-card_img p {
  display: none;
}
.btn-card_img_label-new p {
  display: contents;
  background-color: #99E2D0;
  color: #4acbab;
}
.btn-card_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}
.btn-card_description h3 {
  margin-bottom: 8px;
}
.btn-card_description p {
  margin-top: 0;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.logo img {
  width: 43%;
  max-width: 350px;
}

.form_localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  font-size: large;
  padding: 20px 0;
  box-shadow: 0px 5px 5px 0px #cfcfcf inset;
  margin-bottom: 0;
}

.search_localisation {
  width: 43%;
  display: flex;
  justify-content: space-between;
}
.search_localisation input[type=search] {
  width: 85%;
  border: none;
  background-color: unset;
  font-size: large;
  font-weight: 600;
}

section {
  padding: 40px 6% 50px 6%;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.presentation * {
  max-width: 80%;
}
.presentation_title {
  font-family: "Roboto";
  font-size: xx-large;
  margin-bottom: 0;
}
.presentation p {
  font-size: large;
  color: #353535;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

/*# sourceMappingURL=style.css.map */
