.form_localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-background-medium;
    color: $color-darker;
    text-align: center;
    font-size: large;
    padding: 20px 0;
    box-shadow: 0px 5px 5px 0px #cfcfcf inset;
    margin-bottom: 0;
}

.search_localisation {
    max-width: 200px;
    display: flex;
    justify-content: center;
    input[type=search] {
        text-align: center;
        border: none;
        background-color: unset;
        font-size: large;
        font-weight: 600;
    }
}