.heart {
    width: 32px;
    height: 32px;;
    position: relative;
    display: flex;
    align-items: center;
    i {
        font-size: xx-large;
        position: absolute;
    }
    &_empty {
        z-index: 1;
    }

    &_full {
        z-index: 2;
        background: linear-gradient($color-primary, $color-secondary);
        overflow: hidden;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
        transform-origin: bottom;
        opacity: 0;
        &:hover {
            animation: heart 500ms ease-in forwards;
        }
    }  
}

@keyframes heart {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}