.heart {
    width: 32px;
    height: 32px;;
    position: relative;
    display: flex;
    align-items: center;
    i {
        font-size: xx-large;
        position: absolute;
    }
    &_empty {
        z-index: 1;
    }

    &_full {
        z-index: 2;
        background: linear-gradient($color-primary, $color-secondary);
        overflow: hidden;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 0;
        &:hover {
            animation: heart 2000ms ease-in backwards;
        }
    }  
}

@keyframes heart {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 100%;
    }
}