.btn {

    &-gradient {
        border-radius: 50px;
        height: 50px;
        padding-left: 7%;
        padding-right: 7%;
        background: linear-gradient(175deg, $color-secondary, $color-primary);
        color: white;
        position: relative;
        z-index: 1;
        @include btn($btn-margin: $margin-btn-gradient, $btn-height: $btn-gradient);
        &:hover {
            @include hover;
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            border-radius: 50px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(175deg, lighten($color-secondary, 3), lighten($color-primary, 3));
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }

    &-select-presentation {
        @include btn($btn-margin: $margin-btn-select-presentation, $btn-height: $btn-select);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 20px;
        font-weight: 600;
        font-size: large;
        margin-left: 15px;
        @include tablet {
            height: 100px;
            align-items: flex-end;
        }
        &_number {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            left: -10px;
            background-color: $color-primary;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            @include tablet {
                width: 40px;
                height: 40px;
                top: -10px;
            }
            @include desktop {
                width: 40px;
                height: 40px;
            }
        }
        i {
            color: gray;
            position: absolute;
            left: 12%;
            text-align: center;
            @include tablet {
                left: 45%;
                top: 15%;
                font-size: xx-large;
            }
            @include desktop {
                font-size: x-large;
            }
        }

        &:hover {
            @include hover;
            background-color: $color-background-selected;
            i {
                color: $color-primary;
            }
        }
    }

    &-card {
        @include btn($btn-margin: $margin-btn-card, $btn-height: $btn-card);
        border-radius: 20px;
        @include tablet {
            margin: 10px;
        }
        @include desktop {
            margin: 10px;
            max-height: 240px;
        }
        
        &_img {
            overflow: hidden;
            height: 68%;
            border-radius: 20px 20px 0 0;
            z-index: 1;
            position: relative;
        
            img {
               width: 100%;
               object-fit: cover;
               z-index: 2;
            }

            &_label {
                position: absolute;
                right: 4%;
                top: 15px;
                z-index: 3;
                line-height: 0;
                background-color: $color-tertiary;
                padding: 0 15px;
                height: 30px;
                border-radius: 2px;
                color: darken($color: $color-tertiary, $amount: 40%);
                font-weight: 600;
                box-shadow: 0px 1px 2px lightgray;
            }
        }
        &_description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 20px;
            h3 {
                margin-bottom: 8px;
            }
            p {
                margin-top: 0;
            }
        }
    }
    &_choice {
        @include btn;
        background-color: white;
        height: 85px;
        border-radius: 20px;
        padding: 1% 4%;
        position: relative;
        overflow: hidden;
        display: flex;
        &_container {
            width: 100%;
            height: 100%;
            transform-origin: left;
        }
        &_selected {
            position: absolute;
            right: -20%;
            top: 0;
            height: 100%;
            width: 18%;
            background-color: $color-tertiary;
            border-radius: 0 20px 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: white;
                font-size: x-large;
            }
        }
        h3 {
            margin-bottom: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &_txt {
            display: flex;
            justify-content: space-between;
            :first-child {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            p {
                margin-top: 8px;
            }
        }
        &_price {
            font-weight: 800;
        }
        &:hover .btn_choice_selected {
            animation: selected 330ms both;
        }
        &:hover .btn_choice_selected i {
            animation: check 400ms ease-out 100ms 1 both;
        }

        &:hover .btn_choice_container {
            animation: container-shrink 300ms both;
        }
    }
}