.btn {

    &-gradient {
        border-radius: 50px;
        height: 50px;
        background: $color-primary;
        background: linear-gradient(175deg, $color-secondary 10%, $color-primary 80%);
        color: white;
        @include btn($btn-margin: $margin-btn-gradient, $btn-height: $btn-gradient);
        &:hover {
            background: lighten(($color-primary), 1%);
            background: lighten(($color-secondary), 1%);
            box-shadow: 6px 4px 10px darken($color: lightgray, $amount: 20%);
        }
    }
}