.presentation {
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    * {
        max-width: 80%;
    }
    
    &_title {
        font-family: 'Roboto';
        font-size: xx-large;
        margin-bottom: 0;
    }
    p {
        font-size: large;
        color: $color-darker;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $color-background-light;
}