.loader {
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    animation: loader 200ms 2800ms 1 both;
    img {
        height: 200px;
    }
    &_plate {
        position: relative;
        z-index: 1;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        &_border {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 10px solid black;
            border-radius: 50%;
            animation: loader_plate 1.2s ease-in-out infinite;
            border-color: black transparent transparent transparent;
            &:nth-child(1) {
                animation-delay: -0.45s;
            }
            &:nth-child(2) {
                animation-delay: -0.3s;
            }
            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
        &_inside {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            p {
                font-family: Shrikhand, cursive;
                font-size: xx-large;
                background: linear-gradient(175deg, $color-secondary, $color-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: loader_logo 2500ms ease-in 200ms backwards;
            }
        }
    }
}

.presentation {
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    * {
        max-width: 80%;
    }
    
    &_title {
        font-family: 'Roboto';
        font-size: xx-large;
        margin-bottom: 0;
    }
    p {
        font-size: large;
        color: $color-darker;
    }
}

.fontionnement {
    background-color: white;
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $color-background-light;
}

.heart {
    width: 32px;
    height: 32px;;
    position: relative;
    display: flex;
    align-items: center;
    i {
        font-size: xx-large;
        position: absolute;
    }
    &_empty {
        z-index: 1;
    }

    &_full {
        z-index: 2;
        background: linear-gradient($color-primary, $color-secondary);
        overflow: hidden;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
        transform-origin: bottom;
        opacity: 0;
        &:hover {
            animation: heart 500ms 0s ease-in forwards;
        }
    }  
}

.header_home, .main_home, .footer_home {
    animation: loader 200ms 2800ms 1 reverse both;
}