.presentation {
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    > * {
        width: 70%;
    }
    &_title {
        font-family: 'Roboto';
        font-size: xx-large;
        margin-bottom: 0;
    }
    p {
        font-size: large;
        color: $color-darker;
    }
}

.restaurants {
    width: 90%;
    display: flex;
    flex-direction: column;
    a {
        width: 100%;
    }
}

.btn-card {
    @include btn($btn-margin: $margin-btn-card, $btn-height: $btn-card);
    width: 100%;
    &_img {
        width: 100%;
        overflow: hidden;
        height: 174px;
        img {
           width: 100%;
           object-fit: cover;
        }
    }

    &_img p {
        display: none;
    }
}

.label-new p {
    display: contents;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 20%);
}