main {
    background-color: $color-background-light;
}

.logo {
    i {
        font-size: xx-large;
        position: absolute;
        left: 40px;
    }
}

.menus-cover {
    height: 420px;
    margin: 0;
    padding: 0;
    position: relative;
    &_img {
        top: 0;
        overflow: hidden;
        height: 380px;
        width: 100%;
        bottom: 0;
        position: absolute;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_title {
        position: absolute;
        bottom: 0;
        border-radius: 45px 45px 0 0;
        background-color: $color-background-light;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4% 4% 0 4%;
        margin-bottom: 0;

        i {
            font-size: xx-large;
        }
    }
}

.menus {
    padding-top: 0px;
    padding-bottom: 15px;
    &_title {
        h2 {
            &:first-of-type {
                padding-top: 0;
                margin-top: 10;
            }
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 400;
        }
        &_line {
            background-color: $color-tertiary;
            width: 50px;
            height: 3px;
            margin-bottom: 20px;
        }
    }
    &_container {
        display: flex;
        flex-direction: column;
        @include tablet {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }
        @include desktop {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 1fr;
        }
    }
}

.btn-validation {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}