@mixin btn($btn-margin: $margin-btn-select, $btn-height: btn-select) {
    border: none;
    margin-bottom: $btn-margin;
    height: $btn-height;
    @if (height) == $btn-select {
        box-shadow: 6px 4px 10px lightgray, -1px -1px 5px lightgray;
    }@else{
        box-shadow: 6px 4px 10px lightgray;
    }   
}

@mixin hover {
    @if (height) == $btn-select {
        box-shadow: 6px 4px 10px darken($color: lightgray, $amount: 20%), -1px -1px 5px darken($color: lightgray, $amount: 20%);
    }@else{
        box-shadow: 6px 4px 10px darken($color: lightgray, $amount: 20%);
    }
}

@for $i from 1 to 13 {
   .delay-#{$i} {
    animation: btn_choice 1400ms ($i * 100ms) ease-in both;
   }
}