$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-light: #f6f6f6;
$color-background-medium: #eaeaea;
$color-background-selected: #f5edff;
$color-darker: #353535;