/*  Palette de couleurs  */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-light: #f6f6f6;
$color-background-medium: #eaeaea;
$color-background-selected: #f5edff;
$color-darker: #353535;

/* hauteurs et margin boutons */
$btn-gradient: 50px;
$btn-select: 70px;
$btn-card: 252px;
$margin-btn-gradient: 58px;
$margin-btn-select: 14px;
$margin-btn-card: 18px;
$margin-btn-select-presentation: 26px;